@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500;700&family=Work+Sans&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* @link https://utopia.fyi/type/calculator?c=320,16,1.25,1920,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */
:root {
  --step--2: clamp(0.64rem, 0.61rem + 0.16vw, 0.8rem);
  --step--1: clamp(0.8rem, 0.76rem + 0.2vw, 1rem);
  --step-0: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
  --step-1: clamp(1.25rem, 1.19rem + 0.31vw, 1.56rem);
  --step-2: clamp(1.56rem, 1.48rem + 0.39vw, 1.95rem);
  --step-3: clamp(1.95rem, 1.86rem + 0.49vw, 2.44rem);
  --step-4: clamp(2.44rem, 2.32rem + 0.61vw, 3.05rem);
  --step-5: clamp(3.05rem, 2.9rem + 0.76vw, 3.82rem);
}

:root {
  --base-space: var(--step-0);
  --quarter-space: calc(var(--base-space) / 4);
  --half-space: calc(var(--base-space) / 2);
  --double-space: calc(var(--base-space) * 2);
  --threefold-space: calc(var(--base-space) * 3);
  --quadruple-space: calc(var(--base-space) * 4);
}

:root {
  --font-heading: 'Source Code Pro', monospace;
  --font-text: 'Work Sans', sans-serif;

  --white: white;
  --black: #1a1a1a;
  --grey: #484848;
  --green: #5ecbaa;
  --red: #e13535;

  --primary: var(--white);
  --secondary: var(--black);
  --tertiary: var(--grey);
  --success: var(--green);
  --live: var(--red);
  --failure: var(--red);

  font-family: var(--font-text);
}

#svelte {
  height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 1fr 5fr;
  grid-template-areas: 'header header header''sidebar content content';
}

body {
  background: var(--secondary);
  color: var(--primary);
  margin: 0;
  height: 100vh;
}

h1,
h2,
h3,
.h1,
.h2,
.h3 {
  margin: 0;
  --size: var(--step-5);
  --weight: bold;
  font-family: var(--font-heading);
  font-size: var(--size);
  font-weight: var(--weight);
}

h2,
.h2 {
  --size: var(--step-4);
}

h3,
.h3 {
  --size: var(--step-2);
  --weight: 500;
}

p,
a,
li,
.text {
  font-size: var(--step-0);
}

a {
  color: inherit;
}

main {
  height: 100%;
}

header+main {
  grid-column: 1 / 3;
}