@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500;700&family=Work+Sans:wght@400;500;700&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* @link https://utopia.fyi/type/calculator?c=320,16,1.25,1920,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */
:root {
  --step--2: clamp(0.64rem, 0.61rem + 0.16vw, 0.8rem);
  --step--1: clamp(0.8rem, 0.76rem + 0.2vw, 1rem);
  --step-0: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
  --step-1: clamp(1.25rem, 1.19rem + 0.31vw, 1.56rem);
  --step-2: clamp(1.56rem, 1.48rem + 0.39vw, 1.95rem);
  --step-3: clamp(1.95rem, 1.86rem + 0.49vw, 2.44rem);
  --step-4: clamp(2.44rem, 2.32rem + 0.61vw, 3.05rem);
  --step-5: clamp(3.05rem, 2.9rem + 0.76vw, 3.82rem);
}

:root {
  --base-space: var(--step-0);
  --quarter-space: calc(var(--base-space) / 4);
  --half-space: calc(var(--base-space) / 2);
  --double-space: calc(var(--base-space) * 2);
  --threefold-space: calc(var(--base-space) * 3);
  --quadruple-space: calc(var(--base-space) * 4);
}

:root {
  --font-heading: 'Source Code Pro', monospace;
  --font-text: 'Work Sans', sans-serif;

  --white: white;
  --black: #1a1a1a;
  --grey: #484848;
  --green: #5ecbaa;
  --red: #e13535;

  --primary: var(--white);
  --secondary: var(--black);
  --tertiary: var(--grey);
  --success: var(--green);
  --live: var(--red);
  --failure: var(--red);

  font-family: var(--font-text);
}

#svelte {
  display: grid;
  grid-template-rows: min-content 1fr;
  grid-template-columns: min-content 1fr;
  grid-template-areas: 'header header header' 'sidebar content content';
  height: 100vh;
  overflow: hidden;
}

body {
  background: var(--secondary);
  color: var(--primary);
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

h1,
h2,
h3,
.h1,
.h2,
.h3 {
  margin: 0;
  --size: var(--step-5);
  --weight: bold;
  font-family: var(--font-heading);
  font-size: var(--size);
  font-weight: var(--weight);
}

h2,
.h2 {
  --size: var(--step-4);
}

h3,
.h3 {
  --size: var(--step-1);
  --weight: 700;
}

p,
a,
li,
input,
label,
.text {
  font-size: var(--step-0);
}

a {
  color: inherit;
}

a:hover {
  color: var(--green);
}

p a {
  font-weight: 500;
  text-decoration: none;
  background: linear-gradient(currentColor 0 0) bottom/var(--d, 0) 2px no-repeat;
  transition: 0.2s ease;
  color: var(--green);
}

p a:hover {
  --d: 100%;
}

main {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

header + main {
  grid-column: 1 / 3;
}

input[type='text'],
input[type='password'],
.select-container {
  background: var(--tertiary);
  color: var(--primary);
  font-size: var(--step-0);
  padding: var(--half-space);
  border-radius: 5px;
  border: none;
  border: 2px solid var(--tertiary);
}

input[type='text']:hover,
input[type='password']:hover,
.select-container:hover,
input[type='text']:focus,
input[type='password']:focus,
.select-container:focus {
  outline: none;
  border-color: var(--green);
}

select {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  margin: 0;
  font-size: inherit;
  width: 100%;
}

select:focus {
  outline: none;
}

.select-container {
  position: relative;
  background: var(--tertiary);
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.select-container:after {
  position: absolute;
  right: 0.375em;
  text-align: right;
  content: '\2B0D';
  font-size: inherit;
  pointer-events: none;
}

button {
  appearance: none;
  font-size: var(--step-0);
  color: var(--primary);
  background: var(--tertiary);
  border: 2px solid var(--tertiary);
  border-radius: 5px;
  cursor: pointer;
  padding: 0.125em 0.375em;
}

button:hover,
button:focus {
  border-color: var(--green);
  outline: none;
}

button.large {
  font-size: var(--step-1);
  padding: 0.25em 0.75em;
}

button.full-width {
  width: 100%;
}
